/* this file contains custom styles */
a[ng-click] {
    cursor: pointer;
}
.ng-invalid { 
    border-color: #FF0000 !important;
}

.vert-offset-top-5 {
    margin-top: 5em;
}
.vert-offset-top-2 { 
    margin-top: 2em;
}

.loading { 
  font-size: 3em; 
  font-family: Georgia; 
  position: absolute;
  left: 0;
  right: 0;
}

.group { 
    padding: 10px;
}
.center-img { 
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.loginLabel {
  font-size: 5em; 
  font-family: Georgia; 
}

.resetPasswordLabel { 
  font-size: 1.5em; 
  font-family: Georgia; 
}


.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.3s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.languages { 
    float: right;
    padding-top: 7px;
}
