<div>
    <p>Цель применения теста: выявление индивидуально-типологических различий на основе предпо-чтения школьных предметов. </p>
    <p>Инструкция проведения теста. </p>
    <p>Для приведенных ниже 17 школьных предметов по 10-бальной шкале (1-10) отметьте, в какой степени Вам нравился школьный предмет и учи-тель (учителя) по этому предмету.</p>
    <p>Используя градации: </p>

</div>
<form ng-submit="submitForm()" name="gradesForm">
    <table class="table">
        <th></th>
        <th>Школьные предметы</th>
        <th>Оценка предмета</th>
        <th>Оценка учителя</th>
        <tr ng-repeat="class in classesList">
           <td>{{$index}}</td> 
           <td>{{class}}</td>
           <td><input type="number" ng-model="lessonGrades[$index]" min="0" max="10"></td>
           <td><input type="number" ng-model="teacherGrades[$index]" min="0" max="10"></td>
        </tr>
    </table>
    <div ng-show="!isValid" class="alert alert-danger" role="alert">Вы должны заполнить все необходимые данные, прежде чем отправить информацию</div>
    <button type="submit" class="btn btn-default center-block">Отправить данные</button>
</form>