<div> 
     <div class="languages">
        <a ng-click="changeLanguage('ru')" class="label label-default">{{ 'RU' | translate }}</a>
        <a ng-click="changeLanguage('en')" class="label label-default">{{ 'EN' | translate }}</a>
     </div>
     <ul class="nav nav-tabs">
      <li ui-sref-active="active" ng-click="sendRequest()"><a ui-sref="mainPageState.userProfile">{{ 'MAIN_PAGE.HOME' | translate }}</a></li>
      <li ui-sref-active="active" ng-click="sendRequest()"><a ui-sref="mainPageState.editProfile">{{ 'MAIN_PAGE.EDIT_PROFILE_BUTTON' | translate }}</a></li>
      <li ng-click="logOut()"><a href="#">{{ 'MAIN_PAGE.LOG_OUT' | translate }}</a></li>
    </ul>
    <div ui-view ng-show="!hasPendingRequests" class="animate-show"></div>
    <div class="loading animate-show" ng-show="hasPendingRequests">{{ 'MAIN_PAGE.LOADING' | translate }}</div>
</div>