<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 vert-offset-top-5">
    

    <img src="app/images/default_user_image.jpg" alt="default user image" class="center-img img-responsive img-circle">

    <ul class="list-group">
     
      <div class="group">
          <span class="label label-default">{{ 'MAIN_PAGE.USER_INFO.EMAIL' | translate }}</span> 
          <li class="list-group-item">{{username}}</li> 
      </div>
      
      <div class="group">
          <span class="label label-default">{{ 'MAIN_PAGE.USER_INFO.AGE' | translate }}</span> 
          <li class="list-group-item">{{age}}</li>
      </div>
      
      <div class="group">
          <span class="label label-default">{{ 'MAIN_PAGE.USER_INFO.BIRTH_DATE' | translate }}</span> 
          <li class="list-group-item">{{birthDate}}</li>
      </div>
      
      <div class="group">
          <span class="label label-default">{{ 'MAIN_PAGE.USER_INFO.AGE' | translate }}</span> 
          <li class="list-group-item">{{aboutUser}}</li>
      </div>
    </ul>
    
</div>